/**-- list icon --**/

@import "partials/colors";
* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #222222;
    text-decoration: none;
    outline: none !important;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $primary-color1;
    margin: 0;
    font-size: 24px;
    a {
        color: $primary-color6;
        text-decoration: none !important;
        opacity: 1;
    }
}

h2 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $primary-color1;
    margin: 0;
    font-size: 22px;
    a {
        color: $primary-color6;
        text-decoration: none !important;
        opacity: 1;
    }
}

h3 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $primary-color1;
    margin: 0;
    font-size: 18px;
    a {
        color: $primary-color6;
        text-decoration: none !important;
        opacity: 1;
    }
}

h4 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $primary-color1;
    margin: 0;
    font-size: 16px;
    a {
        color: $primary-color6;
        text-decoration: none !important;
        opacity: 1;
    }
}

h5 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $primary-color1;
    margin: 0;
    font-size: 14px;
    a {
        color: $primary-color6;
        text-decoration: none !important;
        opacity: 1;
    }
}

h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: $primary-color1;
    margin: 0;
    font-size: 13px;
    a {
        color: $primary-color6;
        text-decoration: none !important;
        opacity: 1;
    }
}

button {
    &:focus {
        outline: none;
    }
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

// &:focus {
//     outline: 0;
// }
.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid $primary-color13;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control {
    &:focus {
        border-color: $primary-color2 !important;
        box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
    }
}

.navbar-form {
    input {
        border: none !important;
    }
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

.full {
    float: left;
    width: 100%;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding_2 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.light_silver {
    background: #f9f9f9;
}

.theme_bg {
    background: $primary-color7;
}

.margin_top_30 {
    margin-top: 30px !important;
}

.main_heading {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    h2 {
        padding: 0;
        font-size: 48px;
        line-height: 60px;
        font-weight: 400;
        position: relative;
        letter-spacing: -0.5px;
        color: $primary-color8;
        border-left: solid $primary-color7 10px;
        padding-left: 15px;
        strong {
            background: $primary-color7;
            color: $primary-color10;
            font-weight: 600;
            padding: 0 15px;
            line-height: 68px;
        }
    }
}

.white_heading_main {
    h2 {
        color: $primary-color10;
    }
}

.small_main_heading {
    margin-top: 25px;
    float: left;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
    margin-bottom: 25px;
    h2 {
        padding: 2px 0 20px 0;
        color: $primary-color8;
        font-weight: 400;
        font-size: 28px;
        background-image: url('../images/fevicon.png');
        background-repeat: no-repeat;
        padding-left: 55px;
        letter-spacing: -0.5px;
        strong {
            color: $primary-color7;
            font-weight: 600;
        }
    }
}

.main_bt {
    background: $primary-color9;
    color: $primary-color10;
    padding: 15px 60px 15px 60px;
    float: left;
    font-size: 15px;
    font-weight: 400;
    border: solid $primary-color9 2px;
    border-radius: 30px;
    margin: 15px 0px 60px 0px;
    &:hover {
        background: $primary-color12;
        border: solid $primary-color12 2px;
        color: $primary-color10;
    }
    &:focus {
        background: $primary-color12;
        border: solid $primary-color12 2px;
        color: $primary-color10;
    }
}

a.readmore_bt {
    color: $primary-color10;
    font-weight: 300;
    text-decoration: underline !important;
}

.ul_list_info_icon {
    ul {
        list-style: none;
        li {
            display: inline;
            float: left;
            width: 100%;
            img {
                width: 75px;
            }
        }
    }
}

.loader-bg {
    position: fixed;
    z-index: 9999999;
    background: $primary-color10;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 125px;
    }
}

.scrollup {
    float: right;
    position: absolute;
    color: $primary-color10;
    right: 20px;
    padding: 0px 5px;
    text-transform: uppercase;
    font-weight: 600;
    background: $primary-color7;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    text-align: center;
    color: $primary-color10;
    cursor: pointer;
    border-radius: 0px;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transition: .2s all ease;
    -moz-transition: .2s all ease;
    -o-transition: .2s all ease;
    -webkit-transition: .2s all ease;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 48px;
    font-size: 16px;
}

.scrollup.b-show_scrollBut {
    opacity: 1;
    visibility: visible;
}

.top_awro {
    background: #ee4a79 none repeat scroll 0 0;
    cursor: pointer;
    padding: 6px 8px;
    position: fixed;
    bottom: 59px;
    right: 20px;
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s ease;
}

.sale_pro {
    background: #f25252 !important;
}

.margin_top_50 {
    margin-top: 50px;
}

.margin_bottom_30_all {
    margin-bottom: 30px;
}

.text_align_center {
    text-align: center;
}

.header {
    font-family: poppins;
    padding: 10px 0px;
    background: $primary-color3;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.header__logo {
    float: left;
    position: relative;
    padding-top: 2px;
}

nav.main-menu {
    float: right;
    margin-left: 0;
}

ul.top_icon {
    float: right;
    padding-top: 17px;
    li {
        float: left;
        color: $primary-color10;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-right: 20px;
        &:last-child {
            padding-right: 0px;
        }
        a {
            color: $primary-color10;
        }
    }
}

.main-menu__top {
    li {
        &:hover {
            a {
                color: $primary-color10;
            }
        }
        &:focus {
            a {
                color: $primary-color10;
            }
        }
    }
    li.active {
        a {
            color: $primary-color10;
        }
    }
}

.right_cart_section {
    float: right;
    width: auto;
    ul {
        float: left;
        min-height: auto;
        margin: 0;
        padding: 12px 0 0;
        li {
            float: left;
            font-size: 17px;
            font-weight: 400;
            color: $primary-color10;
            margin-right: 30px;
            i {
                margin-right: 10px;
                margin-top: 5px;
                float: left;
                color: $primary-color10;
                font-size: 21px;
            }
            a {
                color: $primary-color10;
            }
        }
    }
    .cart_icons {
        padding: 18px 0 0;
    }
    ul.cart_update {
        li {
            font-size: 13px;
            color: #ccc;
            line-height: normal;
            margin: 0;
            font-weight: 300;
            span {
                font-size: 18px;
                font-weight: 300;
                color: $primary-color10;
                line-height: 21px;
            }
        }
    }
}

.last {
    padding-right: 0px;
}

.main-menu {
    ul {
        >li {
            nth {
                &:child(7) {
                    a {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

.top-bar-info {
    background: $primary-color1;
    padding: 5px 0px;
}

.top-menu-left {
    float: left;
    li {
        position: relative;
        display: inline-block;
        margin-right: 11px;
        padding-right: 12px;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 9px;
            height: 10px;
            border-right: 1px dotted #999;
        }
        &:last-child {
            &::before {
                display: none;
            }
            padding: 0px;
            margin: 0px;
        }
        a {
            color: $primary-color2;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: $primary-color7;
            }
        }
    }
}

.right-dropdown-language {
    float: right;
    margin-left: 12px;
    >a {
        line-height: 10px;
        padding: 5px 5px;
        cursor: pointer;
    }
    .dropdown-link {
        min-width: 100px;
        padding: 7px 10px;
        color: $primary-color1;
    }
}

.dropdown-bar {
    .dropdown-link {
        position: absolute;
        z-index: 1009;
        top: 40px;
        left: 0;
        right: auto;
        min-width: 50px;
        padding: 15px;
        background: $primary-color2;
        list-style: none;
        border: 2px solid $primary-color7;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
        -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
        transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
        text-align: left;
        li {
            a {
                color: $primary-color1;
                display: block;
                font-size: 12px;
                line-height: 15px;
                padding: 5px 0;
                &:hover {
                    color: $primary-color7;
                }
                img {
                    margin-right: 7px;
                }
            }
        }
        li.active {
            font-weight: bold;
        }
    }
    &:hover {
        .dropdown-link {
            opacity: 1;
            visibility: visible;
            top: 25px;
        }
    }
    position: relative;
    padding: 0 5px;
    font-size: 13px;
    .dropdown-link.right-sd {
        left: auto;
        right: 0;
    }
}

.dropdown-bar.right-dropdown-language {
    >a {
        &::after {
            font-family: 'FontAwesome';
            content: "\f107";
            text-decoration: none;
            padding-left: 4px;
            color: $primary-color2;
        }
    }
}

.right-dropdown-currency {
    float: right;
    margin-left: 12px;
    >a {
        line-height: 10px;
        padding: 5px 5px;
        cursor: pointer;
        color: $primary-color2;
    }
    .dropdown-link {
        min-width: 100px;
        padding: 7px 10px;
        color: $primary-color1;
        min-width: 55px;
        padding: 7px 10px;
        li {
            a {
                span.symbol {
                    margin-right: 7px;
                }
            }
        }
    }
}

.dropdown-bar.right-dropdown-currency {
    >a {
        &::after {
            font-family: 'FontAwesome';
            content: "\f107";
            text-decoration: none;
            padding-left: 4px;
            color: $primary-color2;
        }
    }
}

#login-modal {
    .modal-content {
        border-radius: 0px;
        .modal-header {
            background: $primary-color7;
            border-radius: 0;
        }
        .modal-body {
            .form-group {
                input {
                    background: $primary-color2;
                    border: 1px solid $primary-color14;
                    border-radius: 0px;
                    &:focus {
                        border: 1px solid $primary-color14 !important;
                    }
                }
            }
        }
        form {
            margin-bottom: 10px;
        }
    }
}

.modal-title {
    padding: 0px;
    color: $primary-color2;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-template-outlined {
    background: $primary-color1;
    color: $primary-color2;
    border: none;
    border-radius: 0px;
    i {
        padding-right: 10px;
    }
}

.text-muted {
    padding: 10px 0px;
}

.slogan-line {
    float: right;
    color: $primary-color2;
    font-size: 13px;
}

.middle-area {
    padding: 30px 0px;
}

.header-search {
    padding: 3px 0px;
    form {
        position: relative;
        -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
        .search-btn {
            position: absolute;
            right: 0;
            top: 0;
            border: 0;
            color: $primary-color10;
            font-size: 20px;
            padding: 4px 15px;
            border-radius: 0px;
            background-color: $primary-color7;
            cursor: pointer;
            &:hover {
                background: $primary-color1;
            }
        }
    }
    .btn-group.bootstrap-select {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    input {
        width: 100%;
        min-height: 45px;
        border-radius: 0px;
        border: none;
        padding-left: 15px;
        border: 1px solid $primary-color15;
    }
}

.cart-box {
    float: right;
    margin-left: 10px;
    position: relative;
    &:hover {
        .cart-content-box {
            opacity: 1;
            visibility: visible;
            top: 100%;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
    .inner-cart {
        &:hover {
            color: $primary-color2;
        }
    }
    a {
        display: inline-block;
        &:hover {
            color: $primary-color7;
        }
        span.icon {
            background: $primary-color7;
            width: 30px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            color: $primary-color2;
            position: relative;
            border-radius: 2px;
        }
        .p-up {
            position: absolute;
            right: -8px;
            top: -8px;
            line-height: initial;
            background: $primary-color7;
            padding: 3px;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            font-size: 12px;
            text-align: center;
            line-height: 10px;
        }
    }
}

.cart-content-box {
    position: absolute;
    z-index: 1009;
    top: 40px;
    left: auto;
    right: 0;
    min-width: 250px;
    max-width: 250px;
    padding: 15px;
    background: $primary-color2;
    list-style: none;
    border: 2px solid $primary-color7;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    .items {
        text-align: center;
        &:hover {
            .product-media {
                &::before {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                }
            }
        }
        .item {
            .remove {
                position: absolute;
                right: 0px;
                top: 0px;
                background: $primary-color7;
                color: $primary-color2;
                width: 20px;
                height: 20px;
                line-height: 18px;
                border-radius: 2px;
                &:hover {
                    background: $primary-color1;
                }
            }
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $primary-color15;
            position: relative;
            .product-info {
                padding-top: 10px;
                padding-left: 71px;
                text-align: left;
            }
        }
    }
}

.inner-cart {
    background: $primary-color7;
    border-radius: 2px;
    padding: 0px;
    color: $primary-color2;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
}

.line-cart {
    float: left;
    line-height: 40px;
    margin-right: 9px;
    position: relative;
}

.wish-box {
    float: right;
    a {
        display: inline-block;
        &:hover {
            color: $primary-color7;
        }
        span.icon {
            background: $primary-color7;
            width: 40px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            color: $primary-color2;
            position: relative;
            border-radius: 2px;
            &:hover {
                background: $primary-color1;
            }
            span {
                position: absolute;
                right: -8px;
                top: -8px;
                line-height: initial;
                background: $primary-color7;
                padding: 3px;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                font-size: 12px;
            }
        }
    }
}

.cart-content-right {
    padding: 5px 0px;
}

.product-media {
    width: 60px;
    float: left;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color7;
        opacity: 0.4;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
}

.subtotal {
    text-align: left;
    text-transform: capitalize;
    color: $primary-color7;
    font-weight: 500;
    margin-bottom: 15px;
    span {
        font-weight: bold;
        color: $primary-color1;
        padding-left: 15px;
        float: right;
    }
}

.actions {
    .btn-process {
        padding: 5px 16px;
        color: $primary-color2;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border-radius: 2px;
        overflow: hidden;
        &:hover {
            color: $primary-color2;
        }
    }
}

.line-cart {
    position: relative;
}

.wish-box {
    a {
        span.icon {
            span {
                position: absolute;
                right: -8px;
                top: -8px;
                line-height: initial;
                background: $primary-color7;
                padding: 3px;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                font-size: 12px;
            }
        }
    }
}

@import "partials/header";
.sub-down {
    li {
        background: $primary-color2;
    }
}

.mean-container {
    .mean-nav {
        margin-top: 0px;
        position: absolute;
        top: 100%;
    }
}

.nav {
    >li {
        position: inherit;
        display: inline-block;
        vertical-align: middle;
    }
}

.megamenu {
    .sub-down {
        max-width: 1140px;
        width: 100%;
        left: 0;
        margin: 0 auto;
        right: 0;
        padding: 15px 0px;
    }
    .sub-full.megamenu-categories {
        ol {
            li {
                a {
                    padding: 5px 0px;
                    font-size: 15px !important;
                    font-weight: 500;
                }
            }
        }
        .women-box {
            .banner-up-text {
                a {
                    background: $primary-color1;
                    color: $primary-color2 !important;
                    display: inline-block;
                    padding: 10px 16px;
                    border-radius: 2px;
                    overflow: hidden;
                    font-size: 16px;
                }
            }
        }
    }
}

.simple-down {
    padding: 15px;
}

.megamenu-categories {
    padding: 10px 0px;
}

.sub-full.megamenu-categories {
    li {
        display: block;
    }
    ol {
        li {
            .category-title {
                padding: 15px 0px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .category-box {
                a {
                    padding: 5px 0px;
                }
            }
        }
    }
}

.menu-add {
    padding: 30px 15px;
    img {
        width: 100%;
    }
}

.main-w {
    img {
        width: 100%;
    }
}

.women-box {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
    }
}

.banner-up-text {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.text-a {
    color: $primary-color10;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.text-b {
    color: $primary-color10;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    padding: 20px 0px;
}

.text-c {
    color: $primary-color2;
    font-size: 31px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 20px;
}

.sticky-wrapper {
    .sticky-wrapper-header {
        z-index: 20 !important;
        background: $primary-color2;
    }
    &:not(.is-sticky) {
        height: auto !important;
    }
}

.is-sticky {
    .sticky-wrapper-header {
        .middle-area {
            padding: 10px 0px;
        }
    }
}

.hover-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: $primary-color1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $primary-color7;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        display: block !important;
    }
    &:hover {
        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        color: white;
        box-shadow: none;
    }
    &:focus {
        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        color: white;
        box-shadow: none;
    }
    &:active {
        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        color: white;
        box-shadow: none;
    }
}

.btn-secondary.focus {
    box-shadow: none;
}

.btn-secondary {
    &:focus {
        box-shadow: none;
    }
}

.img-responsive {
    max-width: 100%;
}

.padding_right_15_inner {
    padding-right: 15px;
}

.padding_left_15_inner {
    padding-left: 15px;
}

.dark_bg {
    background: $primary-color8;
}

.top-banner-slider {
    overflow: hidden;
    clear: both;
    height: 600px;
    .heroslider {
        margin: 0px;
        padding: 0px;
        border: none;
        position: relative;
        border-radius: 0;
        .slides {
            li {
                &::before {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 0, 0.4);
                    height: 100%;
                    width: 100%;
                    left: 0px;
                    top: 0px;
                }
            }
        }
    }
    .flex_caption3 {
        position: absolute;
        z-index: 30;
        left: 0;
        right: 0;
        bottom: 50px;
        margin: 0 -15px;
        display: flex;
    }
    .flex_caption1 {
        text-align: center;
        position: absolute;
        z-index: 30;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 31%;
        max-width: 720px;
        width: 100%;
        text-transform: uppercase;
        color: #333;
        .title1 {
            font-size: 36px;
            font-weight: 300;
            color: $primary-color2;
        }
        .title2 {
            font-size: 60px;
            font-weight: 900;
            color: $primary-color2;
        }
    }
    .flex_caption2 {
        text-align: center;
        position: absolute;
        z-index: 30;
        left: 0;
        top: 20%;
        display: table;
        width: 177px;
        height: 177px;
        background-color: #242424;
        .middle {
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            line-height: 31px;
            font-size: 26px;
            color: $primary-color10;
            transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            &:hover {
                background: $primary-color7;
            }
        }
        span {
            display: block;
            font-weight: 100;
            line-height: 36px;
            font-size: 34px;
        }
    }
    .swiper-pagination {
        padding: 10px 0px;
    }
}

.swiper-overlay {
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.heroslider {
    .container {
        position: relative;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        z-index: 5;
    }
    .slider-01 {
        width: 100%;
        background-image: url(../images/slider-01.jpg);
        background-size: cover;
        background-position: center;
    }
    .slider-02 {
        width: 100%;
        background-image: url(../images/slider-02.jpg);
        background-size: cover;
        background-position: center;
    }
    .slider-03 {
        width: 100%;
        background-image: url(../images/slider-03.jpg);
        background-size: cover;
        background-position: center;
    }
    .slides {
        li {
            height: 600px;
        }
    }
    &:hover {
        .flex-direction-nav {
            .flex-prev {
                &:hover {
                    background: $primary-color7;
                }
            }
            .flex-next {
                &:hover {
                    background: $primary-color7;
                }
            }
        }
    }
    .swiper-pagination {
        bottom: 0px;
        background: $primary-color7;
        .swiper-pagination-bullet-active {
            background: $primary-color10;
        }
        &::before {
            content: "";
            width: 22px;
            height: 22px;
            position: absolute;
            left: -10px;
            top: 4px;
            z-index: -1;
            background: #e12d4f;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &::after {
            content: "";
            width: 22px;
            height: 22px;
            position: absolute;
            right: -10px;
            top: 4px;
            z-index: -1;
            background: #e12d4f;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .swiper-pagination-bullet {
            opacity: 1;
        }
    }
    .swiper-pagination.swiper-pagination-bullets-dynamic {
        overflow: visible;
        width: 110px !important;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

a.slide_banner {
    position: relative;
    display: inline-block;
    margin: 0 12px 0 15px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        border: 2px solid$primary-color2;
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
    }
    &:hover {
        &::before {
            left: -7px;
            top: -7px;
            right: -7px;
            bottom: -7px;
            opacity: 1;
        }
    }
}

.slide1_banner1 {
    width: 570px;
}

.slide1_banner2 {
    width: 270px;
}

.slide1_banner3 {
    width: 270px;
}

.flex-control-nav {
    background: $primary-color7;
    bottom: 0px;
    position: relative;
    li {
        line-height: 10px;
    }
}

.flex-control-paging {
    li {
        a {
            background: rgba(255, 255, 255, 1);
            border: 2px solid$primary-color2;
        }
        a.flex-active {
            border: 2px solid $primary-color2;
        }
    }
}

.flex-direction-nav {
    a {
        background: $primary-color1;
        text-align: center;
        &::before {
            color: $primary-color2;
        }
    }
}

input[type="checkbox"].styled {
    &:checked+label {
        &:after {
            font-family: 'FontAwesome';
            content: "\f00c";
        }
    }
}

input[type="radio"].styled {
    &:checked+label {
        &:after {
            font-family: 'FontAwesome';
            content: "\f00c";
        }
    }
}

input[type="checkbox"] {
    .styled {
        &:checked+label {
            &::before {
                color: $primary-color10;
            }
            &::after {
                color: $primary-color10;
            }
        }
    }
}

input[type="radio"] {
    .styled {
        &:checked+label {
            &::before {
                color: $primary-color10;
            }
            &::after {
                color: $primary-color10;
            }
        }
    }
}


/** banner **/

.header__search {
    position: relative;
    top: 12px;
    margin-right: 30px;
    input.form-control {
        width: 100%;
        font-size: 15px;
        padding: 7px 35px 7px 15px;
    }
    button {
        position: absolute;
        top: 0px;
        right: 0;
        height: 39px;
        width: 109px;
        text-align: center;
        z-index: 1;
        background: $primary-color3;
    }
}

.header__location-icon {
    width: 100%;
    ul {
        li {
            display: inline-block;
            padding: 27px 60px;
            color: $primary-color10;
            font-size: 15px;
            font-weight: 500;
            img {
                padding-right: 10px;
            }
        }
    }
}

.header__location-icon-bottum {
    position: relative;
    z-index: 999;
    background: #090501;
    margin-left: 31px;
    top: 0;
    margin-bottom: -43px;
    &::before {
        position: absolute;
        content: "";
        top: 0px;
        background: url(../icon/wfe4.png);
        background-repeat: repeat;
        width: 67px;
        height: 67px;
        background-repeat: no-repeat;
        left: -35px;
    }
    ul {
        li {
            display: inline-block;
            padding: 0px 10px;
            color: $primary-color10;
            font-size: 15px;
            font-weight: 500;
            img {
                padding-right: 10px;
            }
        }
    }
}

.relative {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    bottom: auto;
}

.slider-section-heading {
    font-size: 45px;
    padding-bottom: 20px;
    line-height: 32px;
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
    text-transform: uppercase;
}

@import "partials/banner";
.black {
    color: #63ce33;
    font-weight: 208;
}

.title {
    text-align: center;
    padding-bottom: 60px;
    h2 {
        padding: 0px 0px 6px 0px;
        text-transform: uppercase;
        font-weight: 500;
        color: $primary-color3;
        line-height: 46px;
        border-bottom: $primary-color3 solid 1px;
        font-size: 50px;
        max-width: 374px;
        width: 100%;
        margin: 0 auto;
    }
}

@import "partials/about";
@import "partials/counter";
@import "partials/offer-section";
@import "partials/product-section";
@import "partials/testmoinals";
@import "partials/map-section";
@import "partials/footer";