$primary-color1: #111111;
$primary-color2: #ffffff;
$primary-color3: #052501;
$primary-color4: #30880d;
$primary-color5: #4bc714;
$primary-color6: #111111;
$primary-color7: #38c8a8;
$primary-color8: #114c7d;
$primary-color9: #ee580f;
$primary-color10:#fff;
$primary-color11:#ff0000;
$primary-color12:#000;
$primary-color13:#ddd;
$primary-color14:#c8c8c8;
$primary-color15:#e0e7ed;
$primary-color16:#3e7f21;
$primary-color17:#fffdfd;