.section-box {
    background: $primary-color3;
    padding: 70px 0px;
    .section-box__for-box {
        text-align: center;
        box-sizing: border-box;
        span {
            font-weight: bold;
            font-size: 51px;
            line-height: 51px;
            color: $primary-color5;
            display: block;
            padding: 20px 0px;
        }
        h3 {
            font-size: 30px;
            line-height: 33px;
            color: $primary-color10;
        }
    }
}