.footer {
    background: $primary-color3;
    padding: 90px 0px;
    .newsletter {
        h3 {
            color: $primary-color10;
            font-size: 17px;
            line-height: 30px;
            display: block;
            padding-bottom: 25px;
            text-transform: uppercase;
        }
    }
    .address {
        .form-control {
            padding: 10px 15px;
            border: $primary-color13 solid 1px;
            margin-bottom: 20px;
            box-shadow: inherit;
            border-radius: 10px;
        }
        .submit-btn {
            padding: 8px 45px;
            border: $primary-color4 solid 1px;
            background: $primary-color4;
            color: $primary-color10;
            font-weight: 500;
            font-size: 19px;
            border-radius: 10px;
            &:hover {
                background: $primary-color10;
                border: $primary-color10 solid 1px;
                color: $primary-color4;
            }
        }
    }
}

ul.loca {
    li {
        color: $primary-color10;
        padding-bottom: 10px;
        display: flex;
        font-size: 16px;
        flex-wrap: wrap;
        &:last-child {
            padding-right: 0;
        }
        a {
            padding-right: 16px;
            color: $primary-color10;
            margin-top: 4px;
        }
    }
}

ul.links-footer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    li {
        a {
            display: block;
            color: $primary-color10;
            font-size: 17px;
            padding-left: 16px;
            margin-top: -34px;
            &:hover {
                color: $primary-color4;
            }
        }
        padding-bottom: 15px;
        color: $primary-color16;
    }
}

.hhh {
    margin-bottom: 15px;
}

.address {
    h3 {
        color: $primary-color10;
        font-size: 29px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 3px;
        border-bottom: $primary-color16 solid 4px;
        margin-bottom: 20px;
        width: 226px;
    }
    img {
        padding-bottom: 10px;
    }
    p {
        color: $primary-color10;
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 30px;
    }
}

.form-control {
    &:focus {
        border: $primary-color13 solid 1px !important;
    }
    &:hover {
        border: $primary-color13 solid 1px !important;
    }
}

.copyright {
    background: $primary-color4;
    padding: 20px 0px 20px 0;
    position: relative;
    top: 90px;
    p {
        color: $primary-color10;
        font-size: 16px;
        text-align: center;
        text-align: center;
        margin: 0 auto;
    }
    a {
        color: $primary-color10;
        &:hover {
            color: $primary-color12;
        }
    }
}

.btn-primary.focus {
    box-shadow: inherit;
}

.btn-primary {
    &:focus {
        box-shadow: inherit;
    }
}